/* Color Theme Swatches in Hex 
#CC3A67
#161A59
#101240
#0A0B26
#0ABFBF
*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ---------------Global Sizing----------------- */
  
  body {
    font-family: 'Rubik', sans-serif;
  }