

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ---------------Global Sizing----------------- */
  
  body {
    font-family: 'Rubik', sans-serif;
  }