body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define grid rows */
  min-height: 100vh; /* Ensure the body covers the viewport height */
  color: black;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5-px;
  grid-row: 2; /* Place the header in the first row */
}

nav.primary {
  color: #fff;
  padding: 50px;
  margin: 0 auto; /* Center the nav horizontally */
  display: grid;
  place-content: center; /* Center the content vertically */
  grid-row: 2; /* Place the nav in the second row */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  grid-row: 3; /* Place the footer in the third row */
}

#assignments {
  list-style: none;
  padding: 10px;
}

#assignments li {
  margin: 10px 0;
}

#assignments a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  background-color: #555;
  border-radius: 5px;
  display: inline-block;
}

#assignments a:hover {
  background-color: #777;
}


.wrapper {
  display: grid;
  grid-template-columns: 25% 75%; 
  grid-template-rows: auto; 
  gap: 50px;
}

.name{
color: black;
}